/* MBL.is  */
.social-blogit { display: none !important; }

/* Visir.is*/
.fb-comments { display: none !important; }
.fb-comments span { display: none !important; }

/* DV.is */
.athugasemdir { display: none !important; }

/* Stundin.is */
.comments { display: none !important; }

/* Eyjan */
#ummaeli { display: none !important; }
