/* MBL.is  */
.social-blogit { display: none; }

/* Visir.is*/
.fbcomment { display: none; }

/* DV.is */
.athugasemdir { display: none; }

/* Stundin.is */
.comments { display: none; }

/* Eyjan */
#ummaeli { display: none; }
